@nWave rc file Version 1.0
[DisabledMessages]
version = Verdi_T-2022.06
[FileBrowser]
nWaveOpenFsdbDirHistory = "\"/home/m111/m111063548/VLSI_TEST/LAB3/SRAM/test/sram.fsdb\""
nWaveRestoreRCDirHistory = "\"/home/m111/m111063548/VLSI_TEST/LAB3/test/sram.rc\"" "\"/home/m111/m111063548/VLSI_TEST/LAB3/SRAM/test/sram.rc\"" "\"/home/m111/m111063548/VLSI_TEST/LAB3/SRAM/test/novas.rc\""
[Form]
version = Verdi_T-2022.06
[General]
version = Verdi_T-2022.06
SignalCaseInSensitive = FALSE
[OldFontRC]
Wave_legend_window_font = -f COURIER12 -c ID_CYAN5
Wave_value_window_font = -f COURIER12 -c ID_CYAN5
Wave_curve_window_font = -f COURIER12 -c ID_CYAN5
Wave_group_name_font = -f COURIER12 -c ID_GREEN5
Wave_ruler_value_font = -f COURIER12 -c ID_CYAN5
Wave_analog_ruler_value_font = -f COURIER12 -c ID_CYAN5
Wave_comment_string_font = -f COURIER12 -c ID_RED5
Wave_getsignal_form_font = -f COURIER12
nMemory_font = Courier 12
[QtDialog]
unknownSave = 1145,453,461,245
QwWarnMsgDlg = 543,315,600,250
openFileDlg = 552,226,602,483
qWaveSignalDialog = 453,228,800,479
QwUserAskDlg = 681,332,324,148
saveSigDlg = 578,274,551,386
restoreSigDlg = 2604,312,551,438
QwInfoMsgDlg = 575,375,750,250
[Wave]
scope_to_save_with_macro
open_file_dir
open_rc_file_dir
getSignalForm = 453 228 800 479 164 381 390 89
viewPort = 0 23 1920 1017 136 65
legendBackground = -c ID_BLACK
valueBackground = -c ID_BLACK
curveBackground = -c ID_BLACK
getSignalSignalList_BackgroundColor = -c ID_GRAY6
glitchColor = -c ID_RED5
cursor = -c ID_YELLOW5 -lw 1 -ls long_dashed
marker = -c ID_WHITE -lw 1 -ls dash_dot_l
usermarker = -c ID_GREEN5 -lw 1 -ls long_dashed
trace = -c ID_GRAY5 -lw 1 -ls long_dashed
grid = -c ID_GRAY3 -lw 1 -ls dot_dashed
rulerBackground = -c ID_GRAY3
rulerForeground = -c ID_YELLOW5
busTextColor = -c ID_ORANGE8
legendForeground = -c ID_CYAN5
valueForeground = -c ID_CYAN5
curveForeground = -c ID_CYAN5
groupNameColor = -c ID_GREEN5
commentStringColor = -c ID_RED5
region(Active)Background = -c ID_YELLOW1
region(NBA)Background = -c ID_RED1
region(Re-Active)Background = -c ID_YELLOW3
region(Re-NBA)Background = -c ID_RED3
region(VHDL-Delta)Background = -c ID_ORANGE3
region(Dump-Off)Background = -c ID_GRAY4
High_Light = -c ID_GRAY2
Input_Signal = -c ID_RED5
Output_Signal = -c ID_GREEN5
InOut_Signal = -c ID_BLUE5
Net_Signal = -c ID_YELLOW5
Register_Signal = -c ID_PURPLE5
Verilog_Signal = -c ID_CYAN5
VHDL_Signal = -c ID_ORANGE5
SystemC_Signal = -c ID_BLUE7
Dump_Off_Color = -c ID_BLUE2
Compress_Bar_Color = -c ID_YELLOW4
Vector_Dense_Block_Color = -c ID_ORANGE8
Scalar_Dense_Block_Color = -c ID_GREEN6
Analog_Dense_Block_Color = -c ID_PURPLE2
Composite_Dense_Block_Color = -c ID_RED5
RPTR_Power_Off_Layer = -c ID_CYAN3 -stipple dots
DB_Power_Off_Layer = -c ID_BLUE4 -stipple dots
SPA_Driver_Power_Off_Layer = -c ID_ORANGE4 -stipple dots
SPA_Receiver_Power_Off_Layer = -c ID_GREEN5 -stipple dots
SRSN_Power_Off_Layer = -c ID_GREEN4 -stipple dots
Isolation_Power_Off_Layer = -c ID_RED4 -stipple dots
PD_Power_Off_Layer = -c ID_GRAY4 -stipple dots
Isolation_Layer = -c ID_RED4 -stipple vLine
Retention_Level_Trigger_Layer = -c ID_ORANGE1 -stipple fill_solid
Retention_Edge_Trigger_Layer = -c ID_YELLOW6 -stipple fill_solid
Driving_Power_Off_Layer = -c ID_YELLOW2 -stipple x
Toggle_Layer = -c ID_YELLOW4 -stipple slash
analogRealStyle = pwl
analogVoltageStyle = pwl
analogCurrentStyle = pwl
analogOthersStyle = pwl
busSignalLayer = -c ID_ORANGE8
busXLayer = -c ID_RED5
busZLayer = -c ID_ORANGE6
busMixedLayer = -c ID_GREEN5
busNotComputedLayer = -c ID_GRAY1
busNoValueLayer = -c ID_BLUE2
signalGridLayer = -c ID_GRAY3
analogGridLayer = -c ID_GRAY6
analogRulerLayer = -c ID_GRAY6
keywordLayer = -c ID_RED5
loadedLayer = -c ID_BLUE5
loadingLayer = -c ID_BLACK
qdsCurMarkerLayer = -c ID_BLUE5
qdsBrkMarkerLayer = -c ID_GREEN5
qdsTrgMarkerLayer = -c ID_RED5
arrowDefaultColor = -c ID_ORANGE6
startNodeArrowColor = -c ID_WHITE
endNodeArrowColor = -c ID_YELLOW5
propertyEventMatchColor = -c ID_GREEN5
propertyEventNoMatchColor = -c ID_RED5
propertyVacuousSuccessMatchColor = -c ID_YELLOW2
propertyStatusBoundaryColor = -c ID_WHITE
propertyBooleanSuccessColor = -c ID_CYAN5
propertyBooleanFailureColor = -c ID_RED5
propertyAssertSuccessColor = -c ID_GREEN5
propertyAssertFailureColor = -c ID_RED5
propertyForbidSuccessColor = -c ID_GREEN5
transactionForegroundColor = -c ID_YELLOW8
transactionBackgroundColor = -c ID_BLACK
transactionHighLightColor = -c ID_CYAN6
transactionRelationshipColor = -c ID_PURPLE6
transactionErrorTypeColor = -c ID_RED5
coverageFullyCoveredColor = -c ID_GREEN5
coverageNoCoverageColor = -c ID_RED5
coveragePartialCoverageColor = -c ID_RED5
coverageReferenceLineColor = -c ID_RED5
messageForegroundColor = -c ID_YELLOW4
messageBackgroundColor = -c ID_PURPLE1
messageHighLightColor = -c ID_CYAN6
messageInformationColor = -c ID_RED5
ComputedAnnotColor = -c ID_PURPLE5
fsvSecurityDataColor = -c ID_PURPLE3
qdsAutoBusGroup = TRUE
qdsTimeStampMode = FALSE
qdsVbfBusOrderAscending = FALSE
EventSequence_SyncCursorTime = TRUE
EventSequence_Sorting = FALSE
EventSequence_RemoveGrid = FALSE
EventSequence_IsGridMode = FALSE
SigSearchSignalMatchCase = FALSE
SigSearchSignalScopeOption = FALSE
SigSearchSignalSamenetInterface = FALSE
SigSearchSignalFullScope = FALSE
SigSearchSignalWithRegExp = FALSE
SigSearchDynamically = FALSE
SigDisplayBySelectionOrder = FALSE
SigDisplayRowMajor = FALSE
SigDragSelFollowColumn = FALSE
SigDisplayHierarchyBox = TRUE
SigDisplaySubscopeBox = TRUE
SigDisplayEmptyScope = TRUE
SigDisplaySignalNavigationBox = FALSE
SigDisplayFormBus = TRUE
SigShowSubProgram = TRUE
SigSearchScopeDynamically = TRUE
SigCollapseSubtreeNodes = FALSE
activeFileApplyToAnnotation = FALSE
GrpSelMode = TRUE
dispGridCount = FALSE
autoInsertDumpoffs = TRUE
allfileTimeRange = FALSE
fixDelta = FALSE
autoUpdate = FALSE
restoreToEnd = FALSE
dispCompErr = TRUE
showMsgDes = TRUE
anaAutoFit = FALSE
anaAutoPattn = FALSE
verticalFitWhenZoomAll = FALSE
analogToDigitalByInterpolation = FALSE
displayDeltaY = FALSE
signal_rc_abspath = TRUE
signal_rc_no_natural_bus_range = FALSE
save_scope_with_macro = FALSE
FitAnaByBusSize = FALSE
DisplayVerticalZoomTools = FALSE
DisplayIndicateBar = FALSE
overlay_added_analog_signals = FALSE
overlay_same_added_analog_signals = FALSE
case_insensitive = FALSE
resaveSignals = TRUE
adjustBusPrefix = adjustBus_
adjustBusBits = 1
adjustBusSettings = 69889
maskPowerOff = TRUE
maskIsolation = TRUE
maskRetention = TRUE
maskDrivingPowerOff = TRUE
maskToggle = TRUE
signal_rc_attribute = 65535
signal_rc_alias_attribute = 0
ConvertAttr6 = -mem 24
confirmExit = TRUE
printTimeRange = TRUE 0.000000 0.000000 0.000000
printPageRange = TRUE 1 1
printOption = 0
printBasic = 1 0 1 FALSE FALSE
printDest = -printer {}
printSignature = {%f %h %t} {}
curveWindow_Drag&Drop_Mode = TRUE
RecentFile1 = "\"/home/m111/m111063548/VLSI_TEST/LAB3/SRAM/test/sram.rc\""
RecentFile2 = "\"/home/m111/m111063548/VLSI_TEST/LAB3/SRAM/test/sram.fsdb\""
RecentFile3 = "\"/home/m111/m111063548/VLSI_TEST/LAB3/test/sram.rc\""
open_file_time_range = FALSE
legend_window_font = -f COURIER12 -c ID_CYAN5
value_window_font = -f COURIER12 -c ID_CYAN5
curve_window_font = -f COURIER12 -c ID_CYAN5
group_name_font = -f COURIER12 -c ID_GREEN5
ruler_value_font = -f COURIER12 -c ID_CYAN5
analog_ruler_value_font = -f COURIER12 -c ID_CYAN5
comment_string_font = -f COURIER12 -c ID_RED5
getsignal_form_font = -f COURIER12
SigsCheckNum = on 1000
filter_synthesized_net = off n
filterOutNet = on
exclude_signal_with_prefix = off n
synthesizeNetOnly = on
filter_synthesized_instance = off
filterOutInstance = on
showGroupTree = TRUE
hierGroupDelim = /
MsgSeverityColor = {y \"Severity\"==\"1\" ID_RED5} {y \"Severity\"==\"2\" ID_RED6} {y \"Severity\"==\"3\" ID_RED7} {y \"Severity\"==\"4\" ID_RED8} {y \"Severity\"==\"5\" ID_ORANGE5} {y \"Severity\"==\"6\" ID_ORANGE6} {y \"Severity\"==\"7\" ID_ORANGE7} {y \"Severity\"==\"8\" \
ID_GREEN7} {y \"Severity\"==\"9\" ID_GREEN6} {y \"Severity\"==\"10\" ID_GREEN5}
waveDblClkActiveTrace = on
SEQShowComparisonIcon = TRUE
SEQAddDriverLoadInSameGroup = TRUE
displayVerticalRuler = FALSE
displayHorizontalRuler = FALSE
displayVerticalGrid = FALSE
displayHorizontalGrid = FALSE
maskFsaRegRule = TRUE
maskFsaCoreRule = TRUE
maskFsaSfsmRule = TRUE
maskFsaEcrRule = TRUE
[nMemory]
dispMode = ADDR_HINT
addrColWidth = 120
valueColWidth = 100
showCellBitRangeWithAddr = TRUE
wordsShownInOneRow = 8
syncCursorTime = FALSE
fixCellColumnWidth = FALSE
font = Courier 12
[turbo_library]
bdb_load_scope = 
