Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1536 889 232 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/m111/m111063548/VLSI_TEST/LAB3/BIST/test/algo_Checkboard/BIST_Checkboard.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 212000.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/m111/m111063548/VLSI_TEST/LAB3/BIST/test/algo_Checkboard/BIST_Checkboard.fsdb"
addSignal -h 15 -UNSIGNED -UDEC /BIST_Checkboard_tb/BIST_Checkboard/Pattern_Generator/checkboard_addr[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope checkboard_data_out[1:0]
addSignal -h 15 -holdScope clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope test_done
addSignal -h 15 -holdScope we_n
addSignal -h 15 -UNSIGNED -HEX -holdScope c_state[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope n_state[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope counter[6:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/m111/m111063548/VLSI_TEST/LAB3/BIST/test/algo_Checkboard/BIST_Checkboard.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/BIST_Checkboard_tb"
"/BIST_Checkboard_tb/BIST_Checkboard"
"/BIST_Checkboard_tb/BIST_Checkboard/Pattern_Generator"

SCOPE_LIST_BEGIN
"/BIST_Checkboard_tb"
"/BIST_Checkboard_tb/BIST_Checkboard"
"/BIST_Checkboard_tb/BIST_Checkboard/Pattern_Generator"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


